.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: calc(10px + 1vmin);
  color: white;
}

.business-card{width:400px; max-width:calc(100% - 20px);}
.business-card .buttons{justify-content:center;}
.business-card .buttons button{display:flex; align-items:center;}
.business-card .card-subtitle{color:#f3bf99;}
.business-card .linked-icon-link{font-size:30px;}